<app-navbar></app-navbar>
<div class="container text-center text-white" id="welcomeContainer">
  <div class="row justify-content-center align-items-center pb-2">
    <div class="col">
      <h1 class="display-5 fw-bold">Lets go on a great adventure</h1>
      <p>
        this webstie has some subtext that goes here under the main title
        i am continually to write here to fill in some stupid ass text to see if the box adjusts.
      </p>
      <button type="button" class="btn btn-secondary">Join the crew</button>
    </div>
    <div class="col">
      <img height="200px" src="https://mzach55.github.io/landing-page/One-Piece-Straw-Hat-Logo.png">
    </div>
  </div>
</div>

<app-founders-detail></app-founders-detail>